<?xml version="1.0" encoding="UTF-8" ?>
<!--文件头-->
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!--    设置自动映射-->
<!--    默认是PARTIAL，只会自动映射没有定义嵌套结果集映射的结果集-->
<!--    配置FULL，可以映射嵌套结果集的映射-->
    <settings>
        <setting name="logImpl" value="LOG4J"/>
        <setting name="autoMappingBehavior" value="FULL"/>
    </settings>
<!--    <typeAliases>-->
<!--&lt;!&ndash;        为某一类指定别名&ndash;&gt;-->
<!--&lt;!&ndash;        <typeAlias type="com.qst.pojo.User" alias="user"/>&ndash;&gt;-->
<!--        &lt;!&ndash;为包指定别名&ndash;&gt;-->
<!--        <package name="com.qst.pojo"/>-->
<!--    </typeAliases>-->
<!--&lt;!&ndash;    指定映射的xml文件&ndash;&gt;-->
<!--    <mappers>-->
<!--        <mapper resource="mapper/UserMapper.xml"/>-->
<!--    </mappers>-->
</configuration>